body {
  background-color: #fff360;
  font-family: 'Krabby Patty', sans-serif;
}

.outerdiv {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  justify-items: center;
  column-gap: 5%;
  row-gap: 5%;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  column-gap: 20px;
}

button {
  background: rgb(180,122,61);
  color: black;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  font-family: 'Krabby Patty', sans-serif;
  font-weight: bolder;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 20em;
}

button:hover {
  cursor: pointer;
  background-color: rgb(230, 58, 58, 0.9);
}

.menu_header {
  color: rgb(230,58,58);
  display: grid;
  justify-items: center;
}

.menu_item {
  width: 85%;
  border: solid rgb(180,122,61) 2px;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  justify-items: center;
}

h1 {
  font-size: 70px;
}

.homepage_div {
  display: grid;
  justify-content: center;
  justify-items: center;
}

p {
  font-size: 25px;
}

